h1 {
    margin: 0;
    padding: 0;
    font-family: Rockwell;
    text-align: center;
    padding-top: 50px;
}

h2,h3,h4,h5,h6,ul,li {
    margin: 0;
    padding: 0;
}

p {
    padding: 15px;
}

#title {
    text-align: center;
}

img {
    max-width: 100%;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color-interpolation: auto;
    color: darkslategrey;
}

header > p {
    padding: 50px;
    background-color: darkcyan;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

main {
    max-width: 800px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

main form {
    width: 40%;
    font-size: smaller;
}

main article {
    width: 45%;
}

h1,h2,h3,h4 {
    margin-bottom: 1em;
}

#title {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input, textarea, #destination_details_form button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid #666;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: darkslategray 1px 3px 3px;
    font-size: smaller;
}

#destination_details_form button{
    background-color: darkcyan;
    color: lightgoldenrodyellow;
}